
<!-- AJOUT DES BALISES DE GABARITS SUPPLEMENTAIRE -->

{% extends 'listings/base.html' %}

{% block content %}

    <h1>Groupes</h1>
    <p>Mes groupes spréférés sont :</p>
    <ul style="font-weight: bold;">
        {%for band in first_band %}
  <li> <a href="{% url 'band-detail' band.id %}">{{band.name}} </a>
    <a href="{% url 'band-update' band.id %}">[Editer] </a>
    <a href="{% url 'band-delete' band.id %}">[Suppimer] </a>

</li> 
         {% endfor %}
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, obcaecati ipsum. Aspernatur saepe harum dolores sunt temporibus quasi expedita delectus iste. Maiores pariatur ab fuga possimus, cumque adipisci velit in?
    </ul>
    <a href="{% url 'band-create' %}">Créer un nouveau groupe</a>
    {% endblock %}    
